*{
	margin: 0;
	box-sizing: border-box;
}

.container{
	display: flex;
	line-height: center;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	background-color: #ffe6e6;
}

.title h1 {
	text-align: center;
	font-size: 80px;
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: 700;
	color: rgb(255, 0, 0);
}

.title2 h3 {
	margin-left: 355px;
	margin-top: -15px;
	font-size: 35px;
	font-family: 'Annie Use Your Telescope', cursive;
	color: rgb(0, 143, 57);
}

.paragraph p {
	width: 676px;
	margin-left: auto;
	margin-right: auto;
	font-size: 23px;
	font-family: 'Satisfy', cursive;
}

#output{
	margin-top: 20px;
	text-align: center;
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: 700;
	color: black;
	background-color: rgb(153, 203, 255);
	font-size: 25px;
}

#turn{
	background-color: rgb(153, 203, 255);
	width: 200px;
	height: 40px;
	border: 2px solid black;
	border-radius: none;
	box-shadow: 2px 1px;
	color: black;
	
}

#resetBtn{
	background-color: red;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 40px;
	border: 2px solid black;
	border-radius: none;
	box-shadow: 2px 1px;
	font-size: 25px;
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: 700;
}
	
.player1, .player2{
	position: relative;
}

.player1:before{
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: green;
	
}

.player1:after{
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	background-color: green;
	
	
}

.player2:before{
	content: "";
	height: 70%;
	width: 70%;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 2px solid black;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	border-color: red;
	
}

.trisGrid{
	background-color: orange;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	border: none;
	width: 270px;
	height: 270px;
}

.row{
	display: flex;
}

.col{
	width: 90px;
	height: 90px;
	border: 1px solid black;
	border: 2px solid black;
}

.gridBtn{	
	display: block;
	width: 90px;
	height: 90px;
}

.text1{
	text-align: left;
}